<html>
  <head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <h1>
      UiA Timeplan
    </h1>
    <table>
      <tr>
        <th>
          Info:
        </th>
        <td>
          Highlight is next lecture
        </td>
      </tr>
      <tr>
        <th>
          Day
        </td>
        <th>
          Course
        </td>
        <th>
          Date
        </td>
        <th>
          Time
        </td>
        <th>
          Room
        </td>
        <th>
          Teacher Name
        </td>
      </tr>
        {% for x in courses %}
          {% if selected[0] == x['course'][:-2].lower() %}
        <tr>
          {% if x['dateVal'] == nextLecture() %}
          <td class=highlight>
            {{x['day']}}
          </td>
          <td class=highlight>
            {{x['course'].decode('utf-8')}}
          </td>
          <td class=highlight>
            {{x['date']}}
          </td>
          <td class=highlight>
            {{x['time']}}
          </td>
          <td class=highlight>
            {{x['room'][:10]}}
          </td>
          <td class=highlight>
            {{x['tName'].decode('utf-8')}}
          </td>
          {% else %}
          <td>
            {{x['day'].decode('utf-8')}}
          </td>
          <td>
            {{x['course'].decode('utf-8')}}
          </td>
          <td>
            {{x['date']}}
          </td>
          <td>
            {{x['time']}}
          </td>
          <td>
            {{x['room'][:10].decode('utf-8')}}
          </td>
          <td>
            {{x['tName'].decode('utf-8')}}
          </td>
          {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
  </body>
</html>
