<html>
  <head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
  </head>
  <body>
    <h1>
      UiA Timeplan
    </h1>
    <table>
      <tr>
        <th>
          Info:
        </th>
        <td>
          Highlight is next lecture
        </td>
        <td colspan="3">
          <form action="." method="POST">
            <input type="search" name="activeCourses">
            <input type="text" name="activeCourses2">
            <input type="text" name="activeCourses3">
            <input type="text" name="activeCourses4">
            <input type="submit" name="acSend" value="Send">
          </form>
        </td>
      </tr>
      <tr>
        <th>
          Day
        </td>
        <th>
          Course
        </td>
        <th>
          Date
        </td>
        <th>
          Time
        </td>
        <th>
          Room
        </td>
        <th>
          Teacher Name
        </td>
      </tr>
        {% for x in selCourses %}
          {% if x['course'].lower() in selected %}
        <tr>
          {% if x['dateVal'] == nextLecture %}
          <td class=highlight>
            {{x['day']}}
          </td>
          <td class=highlight>
            {{x['course']}}
          </td>
          <td class=highlight>
            {{x['date']}}
          </td>
          <td class=highlight>
            {{x['time']}}
          </td>
          <td class=highlight>
            {{x['room'][:10]}}
          </td>
          <td class=highlight>
            {{x['tName'].decode('utf-8')}}
          </td>
          {% else %}
          <td>
            {{x['day'].decode('utf-8')}}
          </td>
          <td>
            {{x['course']}}
          </td>
          <td>
            {{x['date']}}
          </td>
          <td>
            {{x['time']}}
          </td>
          <td>
            {{x['room'][:10].decode('utf-8')}}
          </td>
          <td>
            {{x['tName'].decode('utf-8')}}
          </td>
          {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>
          $(document).ready(function(){
            var coursecodes = [
              "is-113",
              "is-211",
              "is-309",
              "is-213"
            ];
            $("input").autocomplete({
              source: coursecodes,
              messages: {
                noResults: '',
                results: function() {}
              }
            });
          });
        </script>
  </body>
</html>
